---
import Layout from "../layouts/Layout.astro";
import { SITE } from "../config.mjs";
import Carousel from "../components/widgets/Carousel.astro";
import Header from "../components/widgets/Header.astro";
import About from "../components/sections/About.astro";
import Values from "../components/sections/Values.astro";
import Team from "../components/sections/Team.astro";
import Contact from "../components/sections/Contact.astro";
import Footer from "../components/sections/Footer.astro";
import Home from "../components/sections/Home.astro";

const meta = {
  title: SITE.title,
  description: SITE.description,
};
---

<Layout meta={meta}>
  <Header />

  <Home />
  <About />
  <Values />
  <Team />
  <Contact />
  <Footer />

  <!-- loader -->
  <div id="pb_loader" class="fullscreen">
    <svg class="circular" width="48px" height="48px">
      <circle
        class="path-bg"
        cx="24"
        cy="24"
        r="22"
        fill="none"
        stroke-width="4"
        stroke="#eeeeee"></circle>
      <circle
        class="path"
        cx="24"
        cy="24"
        r="22"
        fill="none"
        stroke-width="4"
        stroke-miterlimit="10"
        stroke="#FDA04F"></circle>
    </svg>
  </div>
</Layout>

<style>
  main {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
  }
</style>
